.clearfix::after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.thumb-view {
  video {
    height: 198px;
  }
}

.thumb-view {
  video {
    height: calc(9 / 16 * 360px);
    width: 360px;
  }
}

.live-main-view {
  video {
  }
}

.ofweek-dialog {
  .el-dialog__body {
    padding: 0 20px;
  }
}

.flex {
  display: flex;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-cloumn {
  display: flex;
  flex-direction: column;
}

.icon-user {
  background: url(../img/live/i-user.png) no-repeat center/50%;
}
.icon-unuser {
  background: url(../img/live/i-unuser.png) no-repeat center/50%;
}
.icon-camera {
  background: url(../img/live/i-camera.png) no-repeat center/50%;
}
.icon-uncamera {
  background: url(../img/live/i-uncamera.png) no-repeat center/50%;
}
.icon-mic {
  background: url(../img/live/i-mic.png) no-repeat center/50%;
}
.icon-unmic {
  background: url(../img/live/i-unmic.png) no-repeat center/50%;
}
.icon-hand {
  background: url(../img/live/i-hand.png) no-repeat center/50%;
}
.icon-unhand {
  background: url(assets/img/live/i-unhand.png) no-repeat center/16px 20px;
}

h1,
h2,
h3,
h4,
h5,
p,
label,
span {
  line-height: normal;
  padding: 0;
  margin: 0;
}
